.Main__content {
	padding: 20px 40px;
	flex: 1 1 auto;
	position: relative;
}

.Main__content__image{
	float: center;
	height: 300px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 50%;
}