.Main__content {
	padding: 20px 40px;
	flex: 1 1 auto;
	position: relative;
<<<<<<< Updated upstream
=======
	background: url(https://static.gabia.com/www/domain/parking/bg_parking_03.jpg) 50% 260px no-repeat;
	display: block;
  	text-align: center;
  	height: -webkit-fill-available;
}

.Main__content__image{
	
>>>>>>> Stashed changes
}