.Main__content {
	padding: 20px 40px;
	flex: 1 1 auto;
	position: relative;

	background: url("http://www.8riders.com/images/bg_parking.jpg") 50% 260px no-repeat;		
	display: block;
  	text-align: center;
  	height: -webkit-fill-available;
}

.Main__content__image{
	
}
