.FormModal__content__col-item {
    padding-top: calc(0.34375rem + 1px);
    padding-bottom: calc(0.34375rem + 1px);
    margin-bottom: 0;
    line-height: 1.7;
}

// .FormModal__content__inline-row {
//     padding-left: 15px;
//     padding-right: 15px;
// }
.FormModal__content__inline-col {
    padding-left: 1px;
    padding-right: 1px;
}
