.DashboardCard__title {
    font-size: 16px;
    display: block;
    text-align: left;
    padding-bottom: 5px;
}

.DashboardCard__leftbody {
    border-right: #ddd 1px dotted;
    text-align: center;
    height: 190px;
}

.DashboardCard__rightbody {
    text-align: center;
    height: 190px;
}

.DashboardCard__singlerow {
    height: 190px;
}

.DashboardCard__singlerow__value {
    color: #008BF4;
    font-size: 44px;
    display: block;
    font-weight: bold;
    padding-top: 40px;
}

.DashboardCard__multirow {
    height: 60px;
}

.DashboardCard__multirow__value {
    color: #0AB5FA;
    font-size: 25px;
    display: block;
    font-weight: bold;
}

.DashboardCard__row {
    white-space: nowrap;
}