.UserManager__dataTable {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: collapse;
}

.UserManager__dataTable tbody{
    background: #fff;
}


.UserManager__pagination{
    margin: 30px;
}

.UserManager__pagination ul{
    justify-content: center;
}