.DataTable__datatable-container {
    padding: 25px;
}

.DataTable__pagination-container {
    text-align: center;
    width: 100%;
}

.DataTable__pagination-sub-container{
    display: inline-block;
    padding-left: 0;
    margin: 5px 0;
    border-radius: 4px;
}