.Header {
	height: 70px;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}

.Header__navlink {
	display: flex;
	align-items: center;
}

.Header__navlink__role {
	margin-left: .625rem;
	cursor: default;
}

.Header__logo {
	width: 100px;
}