.IconInCircle {
    background-color: #494E5F;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	
	&.dark {
		background-color: #FFFFFF;
		color: #494E5F;
	}
	&.sm {
		width: 36px;
		height: 36px;
	}
	&.md {
		width: 48px;
		height: 48px;
	}
	&.lg {
		width: 60px;
		height: 60px;
	}
	
	// &--sm {
	// 	@extend .IconInCircle;
	// 	width: 36px;
	// 	height: 36px;
	// }
	// &--md {
	// 	@extend .IconInCircle;
	// 	width: 48px;
	// 	height: 48px;
	// }
	// &--lg {
	// 	@extend .IconInCircle;
	// 	width: 60px;
	// 	height: 60px;
	// }
}

.IconInCircle__badge {
    position: absolute;
    padding: 0 .375rem;
    font-size: 0.875rem;
    border-radius: .625rem;
    line-height: 1.25rem;
	top: 0px;
	&--sm {
		@extend .IconInCircle__badge;
		left: 25px;
	}
	&--md {
		@extend .IconInCircle__badge;
		left: 32.5px;
	}
	&--lg {
		@extend .IconInCircle__badge;
		left: 40px;
	}
}