.SideMenu {
    width: 220px;
    flex: 0 0 220px;
    //box-shadow right
}

.SideMenu__menu {
    padding: 12px;
}

.SideMenu__top {
    font-size: 12px;
	line-height: 27px;
	color: #90929E;
}

:global .nav-link {
    padding: 0.3rem 1rem;
}