.ToolBar {
	flex: 0 0 60px;
	height: 60px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
    background-color: #fff;
}

.ToolBar__tools {
    position: absolute;
    right: 22px;
    top: 12px;
}

.ToolBar__refresh {
    margin-left: 10px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ToolBar__container {
    display: block;
    padding: 20px 15px;
    position: relative;
    height: 60px;
    width: 100%;
}

.ToolBar__title {
    padding: 0 0 0 0px;
    margin: 0px;
    font-size: 18px;
    display: inline-block;
    float: left;
    line-height: 1.1;
}